{% extends 'base.html.twig' %}

{% block body %}
    <h1>URL Redagavimas</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Išsaugoti"  class = "btn btn-success" />
    {{ form_end(edit_form) }}
            <a href="{{ path('links_index') }}" class = "btn btn-info">Grįžti į sąrašą</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Ištrinti" class = "btn btn-danger">
            {{ form_end(delete_form) }}
{% endblock %}
