{% extends 'base.html.twig' %}

{% block body %}
    <h1>URL</h1>

    <table>
        <tbody>
            <tr>
                <th>Pavadinimas</th>
                <td>{{ link.title }}</td>
            </tr>
            <tr>
                <th>Aprašymas</th>
                <td>{{ link.description }}</td>
            </tr>
            <tr>
                <th>Aktyvus</th>
                <td>{% if link.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>URL</th>
                <td>{{ link.link }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('links_index') }}">Grįžti į sąrašą</a>
        </li>
        <li>
            <a href="{{ path('links_edit', { 'id': link.id }) }}">Redaguoti</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
