{% extends 'base.html.twig' %}

{% block body %}
    <h1>URL</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Pavadinimas</th>
                <td>{{ link.title }}</td>
            </tr>
            <tr>
                <th>Aprašymas</th>
                <td>{{ link.description }}</td>
            </tr>
            <tr>
                <th>Aktyvus</th>
                <td>{% if link.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>URL</th>
                <td>{{ link.link }}</td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('links_index') }}"  class = "btn btn-info">Grįžti į sąrašą</a>
            <a href="{{ path('links_edit', { 'id': link.id }) }}" class = "btn btn-primary">Redaguoti</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Ištrinti" class = "btn btn-danger">
            {{ form_end(delete_form) }}
{% endblock %}
